<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image_field">Upload an image:</label>
        <input type="file" id="image_field" name="image_field" required>
        <button type="submit">Submit</button>
      </form>
    
</body>
</html>


  